*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.Spotify{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: green;
}
.nav{
  flex-wrap: wrap;
}
.Spotify h1{
  margin: 1%;
}